<div class="my-4 d-flex justify-content-between">
    <h5 class="">Titulares de Cuentas Corrientes</h5>
    <div class="">
        <button class="btn btn-success m-2" [routerLink]="['/crear/personafisica']">Crear titular físico</button>
        <button class="btn btn-success m-2" [routerLink]="['/crear/personajuridica']">Crear titular jurado</button>
    </div>
</div>

<ng-template #loading>
    <p class="my-5 text-sm-center">Aún no hay titulares con cuentas corientes para mostrar</p>
</ng-template>

<section *ngIf="listaTitulares | async;let list">
    <div *ngIf="list.length>0; else loading">
        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">RUT del Titular</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody *ngFor="let titular of listaTitulares | async">
                <tr>
                    <td> {{titular.rut}} </td>
                    <td>
                        <button class="btn btn-primary m-2" (click)="editarPersona(titular.id)">Editar</button>
                        <button type="button" class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="eliminar(titular)">
                        Eliminar
                    </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<div *ngIf="obj != null" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirme la eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Realmente desea eliminar al titular con RUT <b> {{obj.rut}}</b>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmarEliminar()">Eliminar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>